@page "/project/create"
@using Business.Services.Project
@attribute [StreamRendering]
@inject IProjectService ProjectService

<PageTitle>Projekt</PageTitle>

<h1>Project</h1>

<p>Project:</p>

<input @bind="name" placeholder="Namn" />
<button @onclick="Create">Skapa projekt</button>

@code {

    private string name;


    protected override async Task OnInitializedAsync()
    {   
    }

    private async Task Create()
    {
        var project = new Business.Models.Project
        {
            Name = name
        };

        await ProjectService.CreateProjectAsync(project, CancellationToken.None);
    }
}