@page "/projects"
@using Business.Services.Project
@attribute [StreamRendering]
@inject IProjectService ProjectService

<PageTitle>Projekt</PageTitle>

<h1>Projects</h1>

<p>Projects:</p>

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var project in projects)
        {
            <tr>
                <td>@project.Id</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    
    private List<Business.Models.Project> projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectService.GetProjectsAsync(CancellationToken.None);
    }
}