@page "/project/"
@using Business.Services.Customer
@attribute [StreamRendering]
@inject ICustomerService CustomerService

<PageTitle>Projekt</PageTitle>

<h1>Project</h1>

<p>Project:</p>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    
    private List<Business.Models.Customer> customers;

    protected override async Task OnInitializedAsync()
    {
        customers = await CustomerService.GetCustomersAsync(CancellationToken.None);
    }
}