@page "/"
@using Business.Services.User
@inject IJSRuntime JS
@inject IUserService UserService
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Är inloggad: @isLoggedIn</h1>

<input @bind="email" placeholder="Epost" />
<input @bind="password" placeholder="Lösenord" type="password" />
<button @onclick="Login">Logga in</button>

@code {

    private string email;
    private string password;

    private bool isLoggedIn;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        string value = await JS.InvokeAsync<string>("localStorageHelper.get", "isLoggedIn");
        isLoggedIn = value == "true";
        StateHasChanged();
    }

    private async Task Login()
    {
        isLoggedIn = await UserService.LoginAsync(email, password, CancellationToken.None);
        await JS.InvokeVoidAsync("localStorageHelper.set", "isLoggedIn", isLoggedIn.ToString());
        StateHasChanged();
    }
}